body {
  font-family: "Avenir Next";
  margin: 0;
  padding: 0;
  color: #62514e;
  background: #e0ddd6;
}

@media screen and (max-width: 480px)　{}

img {
width: 100% ;
}


li {
  list-style: none;
}

.header {
  width: 100%;
  height: 80px;
  background-color:rgba(224,221,214,0.5);
  color: #62514e;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex; /* flexboxを作る */
  align-items: center; /* 上下中央に揃える */
  justify-content: space-between; /* 両端に配置 */
  position: fixed;
  top: 0;
}


.header-logo {
  font-size: 50px;
  margin: 20px 40px;
}

.header-logo a{
  color: #62514e;
  font-size: 30px;
  text-decoration: none;
}


.main {
  padding: 60px 0px 0px 0px;
}






.copy-container h1 {
  font-size: 140px;
  padding-left:30px;
  padding-bottom:100px;
  padding-top:100px;
  color:#203458;
}

 


.section-title1 {
  color:#62514e;
  font-size: 40px;
  margin-top: 80px;
  padding-bottom: 5px;
  margin-bottom: 50px;
  padding-left:10%;
  border-bottom: solid 3px #62514e;
}

.about-contents{
  color:#62514e;
  text-align: center;
  font-size: 22px;
  line-height: 55px;
}

.kakomi{
 margin: 2em auto; 
 padding: 1em 1.5em;
 width: 90%; /*幅の調節*/
 background-color: #e0ddd6; /* 背景色 */
 border: 4px solid #5b737a; /*線の太さ・色*/
 border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
}


.contents1{
  margin-bottom: 160px;
}

.contents2{
  padding-top: 50px;
  background-color: #e1d0c1;
  padding-bottom: 100px;
}

.section-title2 {
  color: #62514e;
  font-size: 40px;
  padding-bottom: 5px;
  margin-bottom: 50px;
  padding-left:10%;

}

.youtube-contents{
  color:#62514e;
  text-align: center;
  font-size: 22px;
  line-height: 55px;
}
 
.youtube {
     position: relative;
     padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
     height: 0;
     overflow: hidden;
}
 
.youtube iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

.footer {
  background-color: #5b737a;
  color: #e0ddd6;
  text-align: center;
  height: 80px;
  padding: 70px;
}

.footer-logo {
  font-size: 20px;
  padding: 0.5em 0;/*上下の余白*/
  
}
